# git ignores for ProofPower.
# Trying to cope wih the bewildering array of extensions is too
# difficult. It is convenient to ignore the build and release
# directories. It also seems appropriate to ignore
# the directories created by the C compiler on Mac OS X.
/bld
/rel
.*.dSYM/
