# git ignores for ProofPower.
# It is convenient to ignore the build and release directories.
/bld
/rel
# Directories created by the C compiler on Mac OS X.
*.dSYM/
.DS_Store
# Suffixes of files generated during the build process. N.b., all .tex files
# are generated.
*~
*.aux
*.bbl
*.blg
*.dvi
*.err
*.grm.run
*.grm.txt
*.hrf
*.idx
*.ilg
*.ind
*.inc
*.ind
*.ldd
*.ldd0
*.ldd1
*.ldd2
*.lof
*.log
*.lot
*.o
*.out
*.pdf
*.polydb
*.ps
*.sid
*.sml
*.sid-e
*.tch
*.tex
*.th
*.th.doc
*.thl.doc
*.thy.doc
*.th.pp
*.thl.pp
*.thy.pp
*.theories
*.tmp
*.toc
*.ttd
*.ttd0
# Files whose names begin with numbers are all generated:
**/[0-9]*
*/*/[0-9]*
# Archives of various kinds
*.tar
*.tgz
*.zip
# Finally some more specific files:
**/USR.sty
**/arch-os
**/findfile
**/hol1.sty
**/holutf8.svf
**/imp096.c
**/imp096.sieveview
**/mtreport
**/sieve
**/sievekeyword
**/utf8skw
**/utf8svf
*/*/USR.sty
*/*/arch-os
*/*/findfile
*/*/hol1.sty
*/*/imp096.c
*/*/imp096.sieveview
*/*/mtreport
*/*/sieve
*/*/sievekeyword
src/daz/XppDazTemplates
src/daz/XppExtDazTemplates
src/daz/usr504a.doc
src/daz/usr504a.pp
src/daz/int51I.*
src/daz/mdt530a.rep.*
src/daz/*.ada
src/daz/*.adb
src/daz/*.ads
src/daz/*.bat
src/daz/*.cmp
src/daz/*.diff
src/daz/*.ex
src/daz/*.scr
src/daz/*.sh
src/daz/*.txt
src/daz/*.wrn
src/daz/*.zdoc
src/daz/*.zed
src/daz/*.zip
src/dev/*.c
src/dev/*.ada
src/dev/*.brax
src/dev/*.grm.tst
src/dev/*.java
src/dev/*.p
src/dev/*.tok
src/dev/dtd017a.doc
src/dev/dtd017b.doc
src/dev/dtd018a.doc
src/dev/dtd118a.doc
src/dev/dtd017a.pp
src/dev/dtd017b.pp
src/dev/dtd018a.pp
src/dev/dtd118a.pp
src/dev/mlton-build.mlb
src/dev/run-mdt017.mlb
src/dev/run-mdt118.mlb
src/dev/slrp
src/dev/slrp-bin*
src/dev/slrp-header.sml.template
src/dev/slrp.template
src/dev/usr032a.eps
src/dev/wrk077.[0-9].*
src/hol/def007A.doc
src/hol/hol
src/hol/hol_common
src/hol/install_holdemo
src/hol/mdt111.sh
src/hol/pp
src/hol/pp-ml
src/hol/pp_list
src/hol/pp_make_database
src/hol/usr004.tutorial
src/hol/usr013.exercises
src/hol/usr013.tutorial
src/hol/wrk051.mkf
src/hol/wrk051_hol.doc
src/hol/wrk051_hol.pp
src/hol/wrk051_hol.flag
src/pptex/conv_ascii
src/pptex/conv_extended
src/pptex/docdvi
src/pptex/docpr
src/pptex/docsml
src/pptex/doctch
src/pptex/doctds
src/pptex/doctex
src/pptex/mathmlkeywords
src/pptex/mdt096a.pl
src/pptex/mdt096b
src/pptex/mdt096d
src/pptex/minkeys
src/pptex/pp_file_conv
src/pptex/ppdvi
src/pptex/pppr
src/pptex/ppsml
src/pptex/pptch
src/pptex/pptds
src/pptex/pptex
src/pptex/pptex_common
src/pptex/pptexenv
src/pptex/sieveview
src/pptex/t.pp
src/pptex/texdvi
src/pptex/trans.sh
src/pptex/usr001.doc
src/xpp/help.c
src/xpp/help.h
src/xpp/xpp
src/xpp/xppext
src/zed/install_zeddemo
src/zed/zed
src/zed/usr011.tutorial
src/zed/usr011.zexercises
src/zed/wrk051.mkf
src/zed/wrk051_zed.doc
src/zed/wrk051_zed.pp
src/zed/wrk051_zed.flag
src/zed/zed_course_solutions.doc
src/zed/zed_course_solutions.pp
src/zed/zed_course_work.doc
src/zed/zed_course_work.pp
src/zed/hol.theories.sorted
src/zed/all.theories.sorted
# That's it.
